<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agaNITTyam</title>
    <link rel="stylesheet" type="text/css" href="static/index_style.css">
    <script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
</head>
<body>
    <div class="star"></div>
    <header>
        <img id="logo" src="static/logotrans.png" alt="Profile Icon">
        <h1>Welcome to agaNITTyam</h1>
        <img src="static/profileicon.png" alt="Profile Icon">
    </header>
    <main>
        <p>With the help of our tool, anyone who wants to admire the intricacies of Tamil grammar can do so with ease. Our Tamil dataset continues to grow every day, as do our examples. Browse through our categories and choose one to get started!</p>
    
        <p>Our aim is to give elementary school students a more efficient and interesting learning experience. Our motto being, learning is fun!</p>

        <form id="categoryForm" action="/result" method="post">
            <label>Choose a category to practice:</label>
            <div class = "total-buttons">
            <div class="button-container">
                <button type="button" onclick="submitForm('Vaarthai Vagai')">வார்த்தை வகை</button>
            </div>
            <div class="button-container">
                <button type="button" onclick="submitForm('Synonym')">இணைப்பொருட்ச்சொல்</button>
            </div>
            <div class="button-container">
                <button type="button" onclick="submitForm('Opposite')">எதிர்ச்சொல்</button>
            </div>
            <div class="button-container">
                <button type="button" onclick="submitForm('Plural')">ஒருமை பன்மை</button>
            </div>
            <div class="button-container">
                <button type="button" onclick="submitForm('Pirithu')">பிரித்து எழுதுக</button>
            </div>
            <div class="button-container">
                <button type="button" onclick="submitForm('Tenses')">காலங்கள்</button>
            </div>
            </div>
            <input type="hidden" id="selectedOption" name="option">
        </form>
        <br>
        <p>Click here to explore our very own Tamil Knowledge graph</p>
        <div class="kg-container">
            <button type="button" onclick="submitForm('KG')">Explore Knowledge Graph</button>
        </div>

    </main>
    <footer>
        <p>Made with 🤍 by Amarjit, Dharanish, Mithilesh</p>
    </footer>
    <script>
        function submitForm(option) {
            document.getElementById('selectedOption').value = option;
            document.getElementById('categoryForm').submit();
        }

        window.addEventListener("load", (event) => {
        new cursoreffects.fairyDustCursor();
    });

    </script>
    <script src="static/wand.js"></script>
</body>
</html>
