<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agaNITTyam</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to agaNITTyam</h1>
    <br>
    <p style="padding-left: 7%;padding-right: 7%;">With the help of our tool, anyone who wants to admire the intricacies of tamil grammar can do so, with ease. Our tamil dataset continues grow every day, as do our examples. <br>Browse through our categories and choose one to get started!</p>
    <br>
    <form style="padding-left: 7%"; action="/result" method="post">

        <label for="option">Choose a category to Practice:</label>
        <select id="option" name="option">
            <option value="Vaarthai Vagai">வார்த்தை வகை</option>
            <option value="option2">இணைப்பொருட்ச்சொல்</option>
            <option value="option3">எதிர்ச்சொல்</option>
        </select>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>